/*
Error: Undefined mixin 'set-font'.
        on line 57 of /Users/coulbourne/Desktop/IBM-HTML/public/styles/sass/internal.scss, in `set-font'
        from line 57 of /Users/coulbourne/Desktop/IBM-HTML/public/styles/sass/internal.scss

52:     padding-top: 3rem;
53:   }
54:   .col-66 {
55:     margin-bottom: 4rem;
56:     h2 {
57:       @include set-font($museo-sans, $base-font-size + 8, 600);
58:       padding-bottom: 1rem;
59:       border-bottom: 1px #000 dotted;
60:     }
61:   }
62:   .col-20 {

Backtrace:
/Users/coulbourne/Desktop/IBM-HTML/public/styles/sass/internal.scss:57:in `set-font'
/Users/coulbourne/Desktop/IBM-HTML/public/styles/sass/internal.scss:57
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:331:in `block in visit_mixin'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:98:in `block in with_mixin'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:115:in `with_frame'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:98:in `with_mixin'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:329:in `visit_mixin'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:115:in `with_frame'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `block (2 levels) in visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `map'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `block in visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:410:in `visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:115:in `with_frame'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `block (2 levels) in visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `map'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `block in visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:410:in `visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:115:in `with_frame'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `block (2 levels) in visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `map'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:412:in `block in visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:410:in `visit_rule'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:115:in `with_frame'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/root_node.rb:20:in `render'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/engine.rb:268:in `render'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/plugin/compiler.rb:486:in `update_stylesheet'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/plugin/compiler.rb:208:in `each'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/bin/compass:30:in `block in <main>'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/bin/compass:44:in `call'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/bin/compass:44:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'set-font'.\A         on line 57 of /Users/coulbourne/Desktop/IBM-HTML/public/styles/sass/internal.scss, in `set-font'\A         from line 57 of /Users/coulbourne/Desktop/IBM-HTML/public/styles/sass/internal.scss\A \A 52:     padding-top: 3rem;\A 53:   }\A 54:   .col-66 {\A 55:     margin-bottom: 4rem;\A 56:     h2 {\A 57:       @include set-font($museo-sans, $base-font-size + 8, 600);\A 58:       padding-bottom: 1rem;\A 59:       border-bottom: 1px #000 dotted;\A 60:     }\A 61:   }\A 62:   .col-20 {"; }
