/* @override 
	http://ibm.polymath.io/wp-content/themes/ibm/style.css */

/*
Theme Name: ibm
*/

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/**
 * Remove default styles for `address` elements
 *
 */
address {
  font-style: inherit;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.vertical-align--table {
  display: table;
  height: 100%;
  width: 100%;
}
.vertical-align--table .vertical-align--table-cell {
  display: table-cell;
  vertical-align: middle;
}

.ta-center {
  text-align: center;
}

ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: 16px;
}

.grid {
  margin-left: -20px;
  text-align: left;
}
.grid .col-20, .grid .col-25, .grid .col-33, .grid .col-40, .grid .col-50, .grid .col-60, .grid .col-66, .grid .col-75, .grid .col-80, .grid .col-100 {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -4px;
  padding-left: 20px;
  min-height: 1px;
  vertical-align: top;
}
.grid .col-20 {
  width: 20%;
}
.grid .col-20.flush {
  padding-left: 0;
}
.grid .col--push-20 {
  margin-left: 20%;
}
.grid .col-25 {
  width: 25%;
}
.grid .col-25.flush {
  padding-left: 0;
}
.grid .col--push-25 {
  margin-left: 25%;
}
.grid .col-33 {
  width: 33.33333%;
}
.grid .col-33.flush {
  padding-left: 0;
}
.grid .col--push-33 {
  margin-left: 33.33333%;
}
.grid .col-40 {
  width: 40%;
}
.grid .col-40.flush {
  padding-left: 0;
}
.grid .col--push-40 {
  margin-left: 40%;
}
.grid .col-50 {
  width: 50%;
}
.grid .col-50.flush {
  padding-left: 0;
}
.grid .col--push-50 {
  margin-left: 50%;
}
.grid .col-60 {
  width: 60%;
}
.grid .col-60.flush {
  padding-left: 0;
}
.grid .col--push-60 {
  margin-left: 60%;
}
.grid .col-66 {
  width: 66.66667%;
}
.grid .col-66.flush {
  padding-left: 0;
}
.grid .col--push-66 {
  margin-left: 66.66667%;
}
.grid .col-75 {
  width: 75%;
}
.grid .col-75.flush {
  padding-left: 0;
}
.grid .col--push-75 {
  margin-left: 75%;
}
.grid .col-80 {
  width: 80%;
}
.grid .col-80.flush {
  padding-left: 0;
}
.grid .col--push-80 {
  margin-left: 80%;
}
.grid .col-100 {
  width: 100%;
}
.grid .col-100.flush {
  padding-left: 0;
}
.grid .col--push-100 {
  margin-left: 100%;
}
.grid .col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  color: #3a3a3a;
  font-size: 16px;
}

body {
  line-height: 1.8em;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}

::-moz-selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

::selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 16px;
  text-rendering: optimizeLegibility;
  color: #4a4a4a;
  line-height: 1.1em;
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}

/* Produces 36, 32, 28, 24, 20, 16 font sizes under 16px base font */
h1 {
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-size: 1.25rem;
}

h2 {
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 1.5rem;
}

h3 {
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  font-size: 0.75rem;
}

h4 {
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 8px;
  font-size: 0.5rem;
}

h5 {
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 4px;
  font-size: 0.25rem;
}

h6 {
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 0px;
  font-size: 0rem;
}

/* If you want to set header sizes individually */
/* h1 {
  @include set-font-size(36);
}

h2 {
  @include set-font-size(32);
}

h3 {
  @include set-font-size(28);
}

h4 {
  @include set-font-size(24);
}

h5 {
  @include set-font-size(20);
}

h6 {
  @include set-font-size(16);
} */
.hero {
  width: 100%;
  height: 100%;
  height: calc(100% - 106px);
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero a {
text-decoration: none;
	
}

.hero#shorthero {
	height: 23rem !important;
	height: calc(40% - 106px)!important;
}

.hero h1, .hero h2, .hero i {
  color: white;
  text-transform: uppercase;
}
.hero h1 {
  margin-bottom:0rem;
  padding: 1rem;
/*  border-bottom: 1px dotted white;*/
  display: inline-block;
  font-family: "museo-sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  font-size: 2.25rem;
  text-transform: uppercase;
  width: 80%;
  max-width: 600px;
}
.hero h2 {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.hero p {
  font-family: "museo-sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #fff;
  width: 80%;
  max-width: 600px;
  margin: 1rem auto;
}
.hero .c2a {
  margin-top: 1.3rem;
}
.hero .vertical-align--table {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(35, 40, 48, 0.35)), color-stop(100%, rgba(12, 12, 12, 0.4)));
  background: -webkit-radial-gradient(rgba(35, 40, 48, 0.35), rgba(12, 12, 12, 0.4));
  background: -moz-radial-gradient(rgba(35, 40, 48, 0.35), rgba(12, 12, 12, 0.4));
  background: -o-radial-gradient(rgba(35, 40, 48, 0.35), rgba(12, 12, 12, 0.4));
  background: radial-gradient(rgba(35, 40, 48, 0.35), rgba(12, 12, 12, 0.4));
}
.hero svg {
  width: 8rem;
height: 8rem;
  display: block;
	margin: 1px auto 2rem;
	
}
.hero svg path, .hero svg circle {
  fill: #fff !important;
}
.hero .noline {
  border: 0;
}

.internal .hero {
  height: calc(100% - 108px);
}

.about .hero {
  height: calc(100% - 288px);
}

.btn-outline {
  padding: .5rem 2rem;
  border: 1px dotted;
  color: white;
  text-transform: uppercase;
  margin: 1rem .5rem;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
}
.btn-outline:hover {
  background-color: white;
  color: #111;
}

nav {
  height: 72px;
}
nav a {
  line-height: 72px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #8d2f4d;
  padding: 0 1rem;
  font-size: .8rem;
  font-weight: 400;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
nav a:hover {
  background: #8d2f4d;
  color: white;
}
nav .login {
  float: right;
}
nav .login svg {
  display: inline-block;
  background-repeat: no-repeat;
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
  margin-left: .4em;
  margin-top: -.2em;
}
nav .login:hover svg path {
  fill: white;
}

.logo, .logo:hover {
  width: 119.7216px;
  height: 28.8px;
  display: inline-block;
  background: url("public/images/svg/IBM-Logo.svg");
  background-repeat: no-repeat;
  line-height: 72px;
  margin-top: 21.6px;
  text-indent: -9999px;
  margin-right: 20px;
}

.gut {
  background-color: #fff;
  margin-top: 0;
  padding-top: 5rem;
 }
 
 .gut .grid {
 	padding-bottom: 2rem;
 }

.gut a {
	 color: #731E3C;
	 transition: all .2s;
}

.gut a.btn-outline {
		color: #262626;
	
}

.gut a.btn-outline:hover {
		background: #262626;
		color: #fff;
		
	
}


.gut a:hover {
	color: #000;
}

.gut .col-33 {
  text-align: center;
  margin-bottom: 5rem;
}
.gut .col-33 i {
  display: inline-block;
  width: 50%;
}
.gut .col-33 i svg {
  width: 100%;
}
.gut .col-33 h3 {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px dotted black;
  font-family: "museo-sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  font-size: 1.375rem;
}
.gut .col-33 p {
  text-align: left;
}
.gut .col-66.col--centered {
  margin: 3rem auto 8rem auto;
}
.gut .col-66.col--centered h3 {
  text-align: center;
  font-weight: 600;
  font-family: "museo-sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  font-size: 1.375rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted black;
}

.lightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.lightbox.loginLightbox {
  display: table;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.lightbox .mainbox {
  position: relative;
  width: 50%;
  padding: 4rem;
  border-radius: 1rem;
  background: white;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.lightbox .mainbox a {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.lightbox .mainbox form {
  width: 100%;
}
.lightbox .mainbox form input {
  display: block;
  width: 100%;
  margin: 1rem;
  padding: .4rem;
  border: 1px solid #666;
}
.lightbox .mainbox form input[type='submit'] {
  background-color: #8d2f4d;
  color: white;
}
.lightbox .mainbox h2 {
  font-family: "museo-sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  font-size: 1.375rem;
  color: #00Aeef;
}

.about .gut .grid, .about .people .grid {
  text-align: center;
}

.internal .col-33 i,
.about .col-33 i {
  width: 20%;
  padding-bottom: 20%;
  height: 0;
  position: relative;
  overflow: hidden;
}
.internal .col-33 i svg,
.about .col-33 i svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.gettingstarted .col-33 i,
.gettingstarted .col-33 i {
  width: 40%;
  padding-bottom: 40%;
  height: 0;
  position: relative;
  overflow: hidden;
}
.gettingstarted .col-33 i svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.internal .col-33 .btn-outline,
.about .col-33 .btn-outline {
  color: black;
  margin-top: .9rem;
  display: inline-block;
}
.internal .col-33 p,
.about .col-33 p {
  vertical-align: baseline;
}
.internal .col-33 h3,
.about .col-33 h3 {
  line-height: 1.8rem;
}

.about .gut {
  padding-top: 3rem;
}
.about .gut .col-66 {
  margin-bottom: 4rem;
}
.about .col-66 h2 {
  font-family: "museo-sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px #000 dotted;
}
.about .col-20 {
  margin-bottom: 1.4rem;
}
.about .col-20 div {
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
.about .col-20 div aside {
  position: absolute;
  display: block;
  height: 2rem;
  width: 100%;
  bottom: -2rem;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.about .col-20 div aside .email {
  width: 1.4rem;
  display: inline-block;
}
.about .col-20 div aside .email svg {
  width: 100%;
  vertical-align: middle;
}
.about .col-20 div aside .email svg:hover path {
  fill: white;
}
.about .col-20 div:hover aside {
  bottom: 0;
}
.about .col-20 img {
  width: 100%;
  border: 1px solid #000;
  display: block;
}
.about .col-20 h4 {
  font-family: "museo-sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
}

footer {
  width: 100%;
  background: #333;
  padding-bottom: 5rem;
}
footer h3, footer a {
  color: #00Aeef;
  transition: all .2s;
  
}
footer h3 {
  font-size: 1.2em;
  line-height: 1.2em;
}
footer p {
  color: #eee;
}
footer .col-33 {
  text-align: left;
  margin-top: 2rem;
}
footer .col-33 ul {
  padding-left: 0;
  color: #eee;
  margin-top: 1.2rem;
}
footer .col-33 ul h4 {
  font-weight: 600;
  font-size: 1em;
  color: #eee;
  margin-bottom: 0;
}
footer .col-33 ul li {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
footer .col-33 ul li:hover {
  color: #00Aeef;
}
footer .col-33 .icons a {
  display: block;
  color: #eee;
  line-height: 2.4;
  text-decoration: none;
}
footer .col-33 .icons a:hover {
  color: #63C0E1;
}
footer .email-page {
  display: inline-block;
  line-height: 72px;
  vertical-align: top;
  float: right;
  color: #888;
}
footer .footer-top {
  border-bottom: 1px solid #888;
  padding-top: 2rem;
}
footer .logo {
  background: url("public/images/svg/IBM-Logo-W.svg");
  background-repeat: no-repeat;
}
footer .col-25 ul {
	padding: none;
	margin: none;
	list-style: none;
	display: inline;
	top: -20px;
	position: relative;
	
}

footer .col-25 {
  margin-top: 2rem;
}

footer .col-25 li {
	color: #fff;
	font-size: .9rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: -3px;
	
}



footer .col-25 a {

	font-size: .8rem;

	
}


footer .col-25 li a, footer .col-33 li a  {
	margin-bottom: 15px;
	display: inherit; 
	font-weight: normal;
	
	border: none;
	padding: 0px!important;
	color: #fff;
	font-size: 1rem;
	text-transform: none;
	text-decoration: none;
	
}

footer .col-25 li a:hover, footer .col-33 li a:hover {
	color: #63C0E1;
}


html {
  background-color: whitesmoke;
}

.container {
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
}

html, body {
  height: 100%;
  width: 100%;
}

.grid {
  margin-top: 32px;
}

.c2a-band{
  overflow: hidden;
  background-color: rgb(116,35,28);
  color: rgb(252,248,191);
  padding: 3rem 0;
  text-align: center;
  margin-top: 3rem;
}
.c2a-band .c2a .btn-outline {
  background-color: rgba(0,0,0,0.1);
  color: rgb(252,248,191);
}
.c2a-band .c2a .btn-outline:hover {
  background-color: rgb(252,248,191);
  color: rgb(116,35,28);
}

.affiliations{
  overflow: hidden;
  background-color: rgb(93,28,22);
  color: white;
  padding: 3rem 0;
  text-align: center;
}

.single-list {
  margin-top: 2rem;
  border-top: 2px rgb(237,250,251) solid;

}
.single-list h4 {
  color: rgb(133,218,255);
  font-size: 2em;
  width: 66%;
  margin: 3rem auto;
  text-align: center;
}
.single-list ul {
  padding: 0;
}
.single-list li{
  color: rgb(25,108,115);
}

.single-list li:nth-of-type(2n-1) {
  background-color: rgb(237,250,251);
  position: relative;
}
.single-list li:nth-of-type(2n-1):before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 20%;
  height: 100%;

  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(255, 255, 255, 0)', GradientType=1);
}

.single-list li:nth-of-type(2n-1):after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 20%;
  height: 100%;

  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0)', endColorstr='rgba(255, 255, 255, 1)', GradientType=1);
}

.single-list li {
  text-align: center;
  color: rgba(24,105,112);
  list-style: none;
  padding: 1rem;
}


.affiliations .slider {
  width: 20%;
  margin: 0 auto;
}

.slick-slide img {
  width: 60%;
  margin: 0 20%;
}
.slick-slide h3 {
  color: rgb(242,234,180);
  margin: 1rem 0;
}

.slick-prev:before, .slick-next:before {
  color: rgb(242,234,180)!important;  
}

.slick-dots li button:before {
  color: rgba(242,234,180, 0.7)!important;    
}
.slick-dots li.slick-active button:before {
  color: rgb(242,234,180)!important;    
}
.c2a-band p {
  width: 50%;
  margin: 0 auto;
  display: block;
  color: white;
  font-size: 1.2em;
  margin-bottom: 1.2em;
  font-style: italic;
}

.email-page:before {
  content: " ";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url('public/images/svg/Icon10.svg');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center; 
  margin-right: .5em;
  vertical-align: middle;
}
.phone:before {
  content: " ";
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  background-image: url('public/images/svg/Icon8.svg');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center; 
  margin-right: .5em;
  vertical-align: middle;
}
.email:before {
  content: " ";
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  background-image: url('public/images/svg/Icon9.svg');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center; 
  margin-right: .5em;
  vertical-align: middle;
}
.social:before {
  content: " ";
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  background-image: url('public/images/svg/social.svg');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center; 
  margin-right: .5em;
  vertical-align: middle;
}

.btn-blk {
  color: black;
}

@media screen and (max-width: 768px) {
  .gut .grid .col-33, .gut .grid .col-20, .gut .grid .col-66 {
    width: 100%;
  }
}

<<<<<<< HEAD


.productlink {
	text-decoration: none;
	transition: all .2s;
}

.productlink:hover {
	opacity: .6;
}

.productlink p {
	color: #4a4a4a;
	
}

#breadcrumbs{
    list-style:none;
    margin:20px 0;
    overflow:hidden;
    position: absolute;
    color: #fff;
    padding-left: 45px!important;
    font-size: .8em;
}
 
#breadcrumbs li{
    float:left;
    margin-right:15px;
    
}
 
#breadcrumbs .separator{
    font-weight:500;
    font-size:20px;
    color:#fff;
}
#breadcrumbs a:hover {
	opacity: .7;
}

#breadcrumbs a {
	color: #fff;
	text-decoration: none;
	transition: all .2s;
	
}

.emaillink {
font-weight: 400;
font-size: .7rem;
text-decoration: none;
color: #8d2f4d;	
transition: all .2s;
padding: 2px 4px;
border-radius: 3px;
}


.emaillink:hover {
	color: white;
  background: #8d2f4d;
}

.wpcf7-form textarea, .wpcf7-form input {
	width: 100%!important;
	border: 1px solid #C5C6C3;
	background: #EEEEEB;
	padding: .5rem;
	color: #5B5C5A;
	  	font-weight: bold;
	
}
  .wpcf7-submit {
  	padding: 1rem!important;
  	background: #731E3C!important;
  	border: none!important;
  	border-radius: .5rem;
  	color: #fff!important;
  	transition: all .2s;
  }
  
  .wpcf7-submit:hover {
  	background: #A72C57!important;
  }
  
  
  @media screen and (max-width: 820px) { 
  .grid .col-25,  .grid .col-33, .grid .col-75, .grid .col-66, .about .col-20  { width: 100%; 
  }
  .grid .col-66 ul {
  	padding-left: 0px;
  	left: -20px;
  	position: relative;
  }
   .gut .grid .col-66 {
   	margin-bottom: 4rem;
   }
  .gut .grid, .gut .grid .col-33, .gut .grid .col-66, .gut .grid .col-100 {
  	margin-left: 0;
  	margin-right: 0;
  	padding-left: 0;
  	padding-right: 0;
  }
  
  .gut .col-33 i svg {
  	margin-bottom: 0;
  	padding-bottom: 0;
  	height: 100%;
  }
  
  .internal .col-33 i svg,
  .about .col-33 i svg {
    height: 100%;
  }
  
  .gettingstarted .col-33 i svg {
  	height: 100%;
  }
  
  footer .grid .col-33 {
  padding: 0 20px;
  display: inline-block;
  }
  footer .grid .col-25 h3 {
  margin: 20px 20px;
  display: inline-block;
  }
  
  footer .grid .col-25 ul {
  	margin: auto;
  	padding: 20px;
  	display: inline-block;
  }
  nav a {
  	display:none;
  }
  nav .login {
  	display: inline;
  }
  #breadcrumbs strong {
  	display: none;
  }
 .btn-outline {
 	display: block;
 	  margin: 20px 20px;
 }
 
footer .btn-outline {
	text-align: center;
	font-size: 1.1rem !important;
}
 footer .grid .col-33 a {
	position: relative;
 }

 footer .grid .col-33 .icons a {
 	left: 0;
 }
 .hero {
  display: inline-table;	
  
 }
 
.vertical-align--table .vertical-align--table-cell {
padding: 4rem 0;  
} 

.gut .col-33 h3 {
	margin-top: 10px;
}
 
 footer .footer-top {
   margin: 0 20px;
 }
 .gut .grid .col-66 li {
 	list-style: none;
 }
 .hero svg {
width: 20%; 
 margin-top: 50px;
  }
  }

.blue-underline {
border-bottom: 1px solid #00Aeef;
}
.hero:after {
  content: " ";
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('public/images/svg/downarrow.svg');
  background-size: contain;
  background-position: center;
  opacity: 0.7;
  left: 50%;
  bottom: 20px; 
  margin-left: -40px;
}

a.productlink {
  text-decoration: none!important; 
}
